
MINIO_ENDPOINT =
MINIO_BUCKET   = 
MINIO_SECURE   =
MINIO_ACCESS_KEY = 
MINIO_SECRET_KEY = 

# Data path 
DATA_PATH=/app/data

# LLM Config
GROQ_API_KEY=
GOOGLE_API_KEY=

# Environment
ENV=production
ENV PYTHONPATH=/app
