numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
xgboost==2.0.3
mlxtend==0.23.1
plotly==5.22.0
streamlit==1.37.0
python-dotenv==1.0.1
requests==2.32.3

langchain-core==0.2.38
langchain-google-genai==1.0.10
langchain-groq==0.1.9